# Byte-compiled Files
__pycache__/
*.py[cod]
*$py.class

# Distribution/Packaging
.Python
venv/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Tests
.pytest_cache/
tests/spark-warehouse/
tests/hyperd.log

# MacOS Stuff
*.DS_Store

# PyCharm
.idea/
